<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047023878223-qqck5u659tj8rbo6u425osc389s4l1ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047023878223-qqck5u659tj8rbo6u425osc389s4l1ou</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047023878223-p1bsca344gcnqa9a7efu2gjclebndtqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbRoi4p3i_fEh7LNWk1BK_xDiYX7r6VXM</string>
	<key>GCM_SENDER_ID</key>
	<string>1047023878223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiStoreAppEcommerce</string>
	<key>PROJECT_ID</key>
	<string>multi-store-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-store-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047023878223:ios:8bd1b76126dc12c5dc6a3a</string>
</dict>
</plist>